body {
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#inputField{
  margin: auto;
}

.background-container{
  background-color: yellow;
  box-shadow: 5px 10px 15px #888888;
  padding: 50px;
}

.items{
  display: -webkit-flex;
  margin: auto;
  border-bottom: 1px solid;
}

.lastItem{
  display: -webkit-flex;
  margin: auto;
  word-break: break-word;


}

.item{
  text-align: left;
  color: blue;
  font-size: 25px;
  word-break: break-word;
}

.dlt{
  width: 45%;
  float: right;
  display: flow-root;
  padding: 16px;
  padding-top: 30px;
}

.minusContainer{
  width: 10%;
}

.contentContainer{
  width: 80%;
}

.minus{
  margin-left: 10px;
  margin-right: 10px;
  color: blue;
  font-size: 25px;
}

.items:hover{
  background-color: #f0f8ff;
  opacity: 0.9;
  transition: 1s;
}

.dltButton{
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
  height: 20px;

  width: 50px;
}


.lastItem:hover{
  background-color: #f0f8ff;
  opacity: 0.9;
  transition: 1s;
}


.dltButton:hover{
  all:25px;
  background-color: brown;
  color: #ffffff;
}
